<%content_for :left_container do%>
<h1>Messages</h1>
<br><br>
<%= tabnav :mail  %>
   
<br /><br>
<!--Sent (<%#@messages.size%>)-->
<table style="border-collapse:collapse;">
  

<% @messages.each do |messages| %>
  <%- @user = User.find(messages.receiver_id) -%>
  <tr height="30px" style="border-bottom:1px #ebebeb dashed;">
    <td width="100px">  <%=link_to image_tag(@user.gravatar_url(:size=>"40")), show_user_path(@user.username) %></td>
    <td width="400px"><%=h messages.body[0...100] %></td>
    <td>Reply | </td>
    <td><%= link_to 'Show', messages %> | </td>
    <td><%= link_to 'Edit', edit_message_path(messages) %> | </td>
    <td><%= link_to 'Delete', messages, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br>


<%end%>