<%content_for :left_container do%>
  <h1>Messages</h1>
  <br><br>
  <%= tabnav :mail  %>

  <br /><br>
  <ul id="posts_list">

    <% @messages.reverse.each do |message| %>
      <%- if params[:is_sent]
        @user = User.find(message.receiver_id)
        @edit = true
      else
        @user = User.find(message.sender_id) end-%>

      <li>
        <%= link_to image_tag(@user.gravatar_url(:size=>"40")), show_user_path(@user.username) %>
        <div class="post_message_container">
          <%= message.body  %> <br><br>
          <span>posted <%= distance_of_time_in_words_to_now(message.created_at) %></span>
          <% unless params[:is_sent]   %>
            <%= link_to 'Reply', contact_path(@user.id) %> |
          <%end%>
          <%#  link_to pluralize(message.comments.size, 'Comment'), message %>
          <%=  link_to 'Delete', message, :confirm => 'Are you sure?', :method => :delete %>
           
        </div>
        <div class="clear"></div>
      </li>
    <% end %>

  </ul>
  <br>
  <%= will_paginate @messages %>

<%end%>
<%content_for :right_container do%>
  <%= render :partial=>'upgrade' %>
<%end%>