<h1>Listing messages</h1>

<table>
  <tr>
    <th>Sender</th>
    <th>Receiver</th>
    <th>Body</th>
  </tr>

<% @messages.each do |messages| %>
  <tr>
    <td><%=h messages.sender_id %></td>
    <td><%=h messages.receiver_id %></td>
    <td><%=h messages.body %></td>
    <td><%= link_to 'Show', messages %></td>
    <td><%= link_to 'Edit', edit_message_path(messages) %></td>
    <td><%= link_to 'Destroy', messages, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New messages', new_message_path %>