<h1>New messages</h1>

<% form_for(@messages) do |f| %>
  <%= f.error_messages %>

  
  <p>
    <%= f.label :Message %><br />
    <%= f.text_area :body, :value=>'Hey ' + @user.username + ',', :size=>'30x10'  %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', posts_path %>