<%content_for :left_container do%>
<h1>Editing profile</h1>

<% form_for(@profile) do |f| %>
  <%= f.error_messages %>

  <p><%= f.label :CommuteTime, "Commute Time" %><br><br>
    Start <%= select(:profile, :start_time,options_for_select(gettimes)) %> End <%= select(:profile, :end_time,options_for_select(gettimes)) %>
    
  </p>
  <p>
   <%= f.label :Description, "One Line Bio (160 max)" %><br /><br>
    <%= f.text_area :description, :size => "30x5" %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @profile %> |
<%= link_to 'Back', profile_path %>
<%-end-%>

<%content_for :right_container do%>
    <h1><%=@user.username%></h1>
    <%= image_tag @user.gravatar_url(:size=>'100'), :align=>'top' %>
    <br> <%if current_user%>
      <%if current_user.relationships.find_by_follower_id(@user.id) == nil && @user != current_user%>

        <%=link_to "Follow", relationships_path(:follower_id =>@user.id), :method=> :post   %><br>
      <%else%>
        <%=@user == current_user ? "" : "Following "%>
      <%end%>
    <%end%><br><br> <b>Listings</b><br>
    <b> <%=Post.find_all_by_user_id(@user.id).size%></b><br><br>

    <%if @profile.start_time && @profile.end_time%>
      <b>Commute Time:</b><br>
      <%=@profile.start_time%> - <%=@profile.end_time%><br><br>
    <%end%>
    <b>Following:</b><br>
    <%  for relationship in @user.relationships  %>
      <%=link_to image_tag(relationship.follower.gravatar_url(:size=>"40")), show_user_path(relationship.follower.username) %>
      <%# link_to 'remove', relationship, :method => :delete %>
    <%end%>
    <br><br>

    <b>Followers:</b><br>

    <%  for user in @user.inverse_followers %>
      <%=link_to image_tag(user.gravatar_url(:size=>"40")), show_user_path(user.username) %>
    <%end%>
    <br><br>
    <%
      if current_user
      if current_user == @user
      %>
        <b>Inbox</b><br>
        <% @user.messages.each do |message| %>
          <%=link_to User.find(message.receiver_id).username, message_path(message)%>
          <br>
        <%end%>
        <br>
        <b>Outbox</b>  <br>
        <% @user.messages_recieved.each do |message| %>
          <%=link_to User.find(message.sender_id).username, message_path(message)%>  <br>
        <%end%>
        <br><br>
      <%end%>
    <%end%>


<%end%>