<%content_for :left_container do%>
<h1>Editing profile</h1>

<% form_for(@profile) do |f| %>
  <%= f.error_messages %>

 <%= link_to 'Click here to add/update your profile image', 'http://gravatar.com' %><br> (We use gravatar.com for profile images on SlugEasy.)
 <br><br>
  <p><%= f.label :CommuteTime, "Commute Time" %><br><br>
    Start <%= select(:profile, :start_time,options_for_select(gettimes)) %> End <%= select(:profile, :end_time,options_for_select(gettimes)) %>
    
  </p>
  <p>
   <%= f.label :Description, "One Line Bio (160 max)" %><br /><br>
    <%= f.text_area :description, :size => "30x5" %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%-end-%>

<%content_for :right_container do%>
   <%=render :partial=>'details', :locals=>{:user=> @user}%>
   


<%end%>