<p>
  <b>User:</b>
  <%=h @order.user_id %>
</p>

<p>
  <b>Plancode:</b>
  <%=h @order.plancode %>
</p>

<p>
  <b>Firstname:</b>
  <%=h @order.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @order.lastname %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>