<ul id="posts_list">
  <% @posts.each do |post| %>
    <li <%if @posts.first == post %> class="first" <%end%>>
      <%= image_tag post.user.gravatar_url, :alt=>post.user.username, :title=>post.user.username.pluralize + " profile picture" %>
      <div class="post_message_container">
        <%=link_to User.find(post.user_id).username, show_user_path(User.find(post.user_id).username)%>
        needs a <%=getneed(post.need) %>
        <%if post.time != nil%>at <%= post.time %><%end%> from <%=post.fr_location %>
        to <%=post.to_location %><br> <span>posted <%= distance_of_time_in_words_to_now(post.updated_at)%> ago
          <% if current_user
            if current_user != User.find(post.user_id)
             if post_limit
            %>

              <%=  link_to 'Contact', contact_path(post.user_id) %>
            <%else
            %> Reached Message Limit - <%=link_to "Upgrade","#"%>
            <%end end %>
          <%end%>
          <%# link_to 'View', post %>
          <%if current_user%>
            <% if current_user.id == post.user_id %>
              <%= link_to 'Edit', edit_post_path(post) %> |
              <%= link_to 'Remove', post, :confirm => 'Are you sure?', :method => :delete %>
            <%end%>
          <%end%>
        </span>
      </div>


      <div class="clear"></div>
    </li>

  <% end %>
  <%if @posts.size < 1%> No Results Found!!!<%end%>
</ul><br>
<%= will_paginate @posts %>

<br />
