<h1>Editing post</h1>

<% form_for(@post) do |f| %>
  <%= f.error_messages %>

  <p>
    Your Need:<br>
    <%= select(:post, :need, [['Ride', 1], ['Rider', 2]]) %>
  </p>
  <p> Time:
  <br>
     <%= select(:post, :time,options_for_select(gettimes,@post.time),{:include_blank => true},:prompt => 'Select Time') %>

  </p>
   <p>
    From<br>
    
<%=text_field_with_auto_complete :post, :fr_location, {:size => 15 }, { :url => formatted_locations_path(:js), :method=>:get, :with => "'search=' + element.value"}  %>
  </p>
   <p>
    To<br>
  <%=text_field_with_auto_complete :post, :to_location, {:size => 15 }, { :url => formatted_locations_path(:js), :method=>:get, :with => "'search=' + element.value"}  %>

    
  </p>
    <p>
    Description<br />
    <%= f.text_area :listing %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>