<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "SlugEasy: the easiest way to slug") %></title>

    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>
    <%= javascript_include_tag :defaults %>

  </head>
  <body>
    <div id="header">
      <div id="logo">
        <img src="/images/slug.png" >
      </div>
      <div id="nav_container">
        <div id="site_nav">
          <% if current_user %>
            <%= link_to current_user.username,show_user_path(current_user.username) %> |
            <%=link_to "Messages ("+current_user.messages_recieved.size.to_s+")", inbox_path%> |
            <%= link_to 'Settings', edit_profile_path(Profile.find_by_user_id(current_user.id)) %>
            <%end%>
            </div>
        
        <div id="user_nav">
            <%= link_to "Needs", root_path %> |
          <%= link_to "Rules", rules_path %> |
          <% if !current_user %> 
          <%= link_to "Register/Pricing", upgrade_path %> |
          <%= link_to "Sign in", signin_path %>
          <%end%>
          <% if current_user %>
            <%= link_to "Log Out", signout_path %> |
            <%=link_to 'Upgrade','/account/upgrade', :style=>"color:#FF0000;" %>
          <% end %>
         
        </div>

      </div>
      <div class="clear"></div>
    </div>
    <div id="container">

<%- flash.each do |name, msg| -%>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<%- end -%>

     <%if yield(:left_container)%><div id="left_panel_container"><%= yield :left_container%></div><%end%>
      <%if yield(:right_container)%><div id="right_panel_container"><%= yield :right_container%></div><%end%>
      <%= yield %><div class="clear"></div>
      
    </div>
  </body>
</html>
